{% extends "::base.html.twig" %}

{% block title %}{{ 'forgotten password' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="my-panel">
                <div class="heading">{{ 'Forgotten password' | trans | title }}</div>
                <div class="body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <section>
                        {{ form_row(form.email) }}
                    </section>
                    <section>
                        <button type="submit" class="btn btn-primary btn-fill" formnovalidate><i class="fa fa-arrow-circle-o-right"></i> {{ 'btn.send_request' | trans }}</button>
                        <a class="btn btn-default" href="{{ path('login') }}"><i class="fa fa-arrow-left"></i> {{ 'btn.return' | trans }}</a>
                    </section>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}