{% extends "::base.html.twig" %}

{% block title %}{{ 'title.password.new' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="my-panel">
                <div class="heading">{{ 'title.password.new' | trans }}</div>
                <div class="body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <section>
                        {{ form_row(form) }}
                    </section>
                    <section>
                        <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-arrow-circle-o-right"></i> {{ 'btn.update' | trans }}</button>
                    </section>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}