{% extends "::base.html.twig" %}

{% block title %}{{ 'registration' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-6">
            <div class="my-panel">
                <div class="heading">{{ 'Registration' | trans | title }}</div>
                <div class="body">

                    {{ form_errors(form) }}
                    <section>
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.nickname) }}
                        {{ form_row(form.society) }}
                        {{ form_row(form.address) }}
                        {{ form_row(form.zipcode) }}
                        {{ form_row(form.city) }}
                        {{ form_row(form.birthdate) }}
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="my-panel">
                <div class="heading">{{ 'Account' | trans | title }}</div>
                <div class="body">
                    <section>
                        {{ form_row(form.user) }}
                    </section>
                    <section>
                        <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-arrow-circle-o-right"></i> {{ 'btn.register' | trans }}</button>
                    </section>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}