{% extends 'AppBundle:Mail:layout_mail.html.twig' %}

{% block body %}
    <h1>{{ 'New password' | trans }}</h1>
    <h3>Hi {{ user.username }}, </h3>
    <p>Your password has been changed.</p>
    <p>
        <ul>
            <li>Username : {{ user.username }}</li>
            <li>Password : {{ user.password }}</li>
        </ul>
    </p>


    <p>Follow this <a href="{{ url('login') }}">link</a> to log in.</p>
{% endblock %}