{% extends "::base.html.twig" %}

{% block title %}Create offer :: {{ parent() }}{% endblock %}

{% block body %}
<h1>Create a new offer</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-save"></i> {{ 'btn.create.offer' | trans }}</button>
    <a href="{{ path('offer_list') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{ 'btn.return' | trans }}</a>
    {{ form_end(form) }}
{% endblock %}
