{% extends "::base.html.twig" %}

{% block title %}{{ 'title.offer.create' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ 'title.offer.create' | trans }}</h1>
    <div class="panel panel-dark">
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-save"></i> {{ 'btn.offer.create' | trans }}</button>
            <a href="{{ path('offer_list') }}" class="btn btn-default btn-fill"><i class="fa fa-arrow-left"></i> {{ 'btn.back' | trans }}</a>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
