{% extends "::base.html.twig" %}

{% block title %}{{ 'title.card.list' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'title.card.list' | trans }}</h1>
<div class="panel">
    <div class="panel-body">
    {% if cards | length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Card number</th>
                <th>Purchase</th>
                <th>Owner</th>
                <th>Activated at</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            {% for card in cards %}
                <tr>
                    <td>{{ card.numero }}</td>
                    <td>{{ card.purchase.createdAt | date('d/m/Y') }}</td>
                    <td>{{ card.customer is not null ? card.customer.firstname ~ ' ' ~ card.customer.lastname }}</td>
                    <td>{{ card.activatedAt is not null ? card.activatedAt | date('d/m/Y') }}</td>
                    <td>{{ card.active ? '<i class="fa fa-check"></i>' : '<i class="fa fa-close"></i>' }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            {% include '::pagination.html.twig' %}
            </tfoot>
        </table>
    {% else %}
        <p class="alert alert-info">No Card</p>
    {% endif %}
    </div>
</div>
{% endblock %}
