{% extends "::base.html.twig" %}

{% block title %}AppBundle:Purchase:show{% endblock %}

{% block body %}
<h1>Send card's request</h1>
    <div class="jumbotron">
        Faites une demande de carte auprès de votre fournisseur en indiquant la quantité voulue
    </div>
    <div class="panel">
        <div class="panel-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-fill" formnovalidate><i class="fa fa-save"></i> {{ 'btn.create' | trans }}</button>
    <a class="btn btn-default" href="{{ path('purchase_list') }}"><i class="fa fa-arrow-left"></i> {{ 'btn.back' | trans }}</a>
    {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
