{% extends "::base.html.twig" %}

{% block title %}{{ 'title.purchase.manage' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ 'title.purchase.manage' | trans }}</h1>
    {% if workflow_can(purchase, 'validate') or workflow_can(purchase, 'revalidate') %}
    <div class="panel panel-dark">
        <div class="panel-heading">
            <h3>{{ 'title.request.manage' | trans }}</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-save"></i> {{ 'btn.edit' | trans }}</button>

            {{ form_end(form) }}
        </div>
    </div>
    {% endif %}
    <div class="panel">
        <div class="panel-heading">
            <h3>{{ 'title.request.send' | trans }}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">{{ 'Reference' | trans }} :</div>
                    <div class="col-md-4">{{ purchase.reference }}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">{{ 'Status' | trans }} :</div>
                    <div class="col-md-4">{{ purchase.status | trans }}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">{{ 'Quantity' | trans }} :</div>
                    <div class="col-md-4">{{ purchase.quantity }} {{ (purchase.quantity > 1 ? 'cards' : 'card') | trans }}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">{{ 'Created at' | trans }} :</div>
                    <div class="col-md-4">{{ purchase.createdAt | date('d/m/Y') }}</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">{{ 'Updated at' | trans }} :</div>
                    <div class="col-md-4">{{ purchase.updatedAt | date('d/m/Y H:i') }}</div>
                </div>
            </div>
            <hr>
            {% if workflow_can(purchase, 'validate') or workflow_can(purchase, 'revalidate') or workflow_can(purchase, 'request') %}
            <form action="{{ path('api_client_request', { 'id' : purchase.id }) }}" method="post">
                <button class="btn btn-success btn-fill"><i class="fa fa-send"></i> {{ 'btn.send.request' | trans }}</button>
            </form>
            {% endif %}
            {% if workflow_can(purchase, 'complete') %}
            <form action="{{ path('api_client_getall', { 'id' : purchase.id }) }}" method="post">
                <button class="btn btn-info btn-fill"><i class="fa fa-download"></i> {{ 'btn.get_cards' | trans }}</button>
            </form>
            {% endif %}
            <a href="{{ path('purchase_list') }}" class="btn btn-default btn-fill"><i class="fa fa-arrow-left"></i> {{ 'btn.back' | trans }}</a>

            {% if purchase.cards is not null %}
                <h4>{{ 'title.card.linked' | trans }}</h4>
                <div class="card-list">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ 'th.card_number' | trans }}</th>
                                <th>{{ 'th.owner' | trans }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                {% for card in purchase.cards %}
                    <tr>
                    <td class="card-number{{ card.active == false ? ' stroken' }}">{{ card.numero }}</td>
                    <td>
                        {% if card.customer is not null %}
                            {{ card.customer.firstname ~ ' ' ~ card.customer.lastname }}
                        {% endif %}
                    </td>
                        <td></td>
                    </tr>
                {% else %}
                    <p>{{ 'msg.no_card_linked' | trans }}</p>
                {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% endif %}
        </div>
    </div>


    <style>
        form {
            display: inline-block;
        }
    </style>
{% endblock %}
