{% extends "::base.html.twig" %}

{% block title %}AppBundle:Purchase:show{% endblock %}

{% block body %}
<h1>Welcome to the Purchase:edit page</h1>
    <div class="jumbotron">
        Faites une demande de carte auprès de votre fournisseur en indiquant la quantité voulue
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-save"></i> {{ 'btn.edit' | trans }}</button>
    {{ form_end(form) }}

    <div class="panel">
        <div class="panel-heading">
            <h3>Manage request</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path('purchase_request', { 'id' : purchase.id }) }}" method="post">
                <button class="btn btn-success btn-fill"><i class="fa fa-send"></i> {{ 'btn.send.request' | trans }}</button>
            </form>
            <form action="" method="post">
                <button class="btn btn-info btn-fill"><i class="fa fa-download"></i> {{ 'btn.get.cards' | trans }}</button>
            </form>
        </div>
    </div>


    <style>
        form {
            display: inline-block;
        }
    </style>
{% endblock %}
