{% extends "::base.html.twig" %}

{% block title %}{{ 'title.purchase.list' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ 'title.purchase.list' | trans }}</h1>
    <div class="panel">
        <div class="panel-body">
    <a href="{{ path('purchase_create') }}" class="btn btn-success btn-fill"><i class="fa fa-plus"></i> {{ 'btn.new' | trans }}</a>
    <hr>
    {% if purchases is not null and purchases | length > 0 %}

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'th.quantity' | trans }}</th>
                    <th>{{ 'th.requester' | trans }}</th>
                    <th>{{ 'th.created_at' | trans }}</th>
                    <th>{{ 'th.updated_at' | trans }}</th>
                    <th>{{ 'th.status' | trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>#{{ purchase.id }}</td>
                    <td>{{ purchase.quantity }}</td>
                    <td>{{ purchase.requester.username }}</td>
                    <td>{{ purchase.createdAt | date('d/m/Y') }}</td>
                    <td>{{ purchase.updatedAt | date('d/m/Y H:i') }}</td>
                    <td>{{ purchase.status | trans }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('purchase_edit', { 'id' : purchase.id }) }}"><i class="fa fa-edit"></i> {{ 'btn.edit' | trans }}</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('purchase_show', { 'id' : purchase.id }) }}"><i class="fa fa-eye"></i> {{ 'btn.show' | trans }}</a></li>
                            </ul>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        {% include '::pagination.html.twig' %}
                    </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>{{ 'msg.no_purchase' | trans }}</p>
    {% endif %}
        </div>
    </div>
{% endblock %}
