{% extends "::base.html.twig" %}

{% block title %}{{ 'title.game.create' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ 'title.game.create' | trans }}</h1>
<div class="panel">
    <div class="panel-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-fill" formnovalidate><i class="fa fa-save"></i> {{ 'btn.game.create' | trans }}</button>
    <a href="{{ path('game_list') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{ 'btn.back' | trans }}</a>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
