<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Customer</div>
            <div class="panel-body">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Nickname :</label>
                    <div class="col-sm-8">{{ customer.nickname }}</div>
                </div>

                {% for card in customer.cards %}
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">N° :</label>
                    <div class="col-sm-8">{{ card.numero }}</div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <form action="{{ path('game_add_user', { 'id' : game.id }) }}" method="POST">
                            <input type="hidden" name="customer_id" value="{{ customer.id }}">
                            <button class="btn btn-primary btn-fill">{{ 'btn.add' | trans }}</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>