{% extends "::base.html.twig" %}

{% block title %}{{ 'title.game.list' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'title.game.list' | trans }}</h1>
    <div class="panel panel-dark">
        <div class="panel-body">
        <a href="{{ path('game_create') }}" class="btn btn-success btn-fill"><i class="fa fa-plus"></i> {{ 'btn.new' | trans }}</a>
        <hr>
        {% if games | length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'th.game' | trans }}</th>
                        <th>{{ 'th.started_at' | trans }}</th>
                        <th>{{ 'th.ended_at' | trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr>
                            <td><a href="{{ path('game_edit', { id : game.id }) }}">{{ game.title }}</a></td>
                            <td>{{ game.startedAt is not null ? game.endedAt | date('d/m/Y H:i') : game.startedAt }}</td>
                            <td>{{ game.endedAt is not null ? game.endedAt | date('d/m/Y H:i') : game.endedAt }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('game_edit', { 'id' : game.id }) }}"><i class="fa fa-edit"></i> {{ 'btn.edit' | trans }}</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('game_manage', { 'id' : game.id }) }}"><i class="fa fa-cog"></i> {{ 'btn.manage' | trans }}</a></li>

                                        {#<li role="presentation"><a role="menuitem" tabindex="-1" class="btn-confirm" href="{{ path('game_delete', { 'id' : game.id }) }}"><i class="fa fa-trash"></i> {{ 'btn.delete' }}</a></li>#}

                                    </ul>

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        {% include '::pagination.html.twig' %}
                    </td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <p class="alert alert-info">{{ 'msg.no_game_played' | trans }}</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
