{% extends "::base.html.twig" %}

{% block title %}AppBundle:Game:delete{% endblock %}

{% block body %}
    <h1>Game : {{ game.title }}</h1>
     <div id="errors"></div>
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form, { 'attr' : {'id':'form_search', 'action' : path('game_search') }}) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ 'btn.search' | trans }}</button>
            {{ form_end(form) }}

        </div>
        <div class="col-md-6" id="response"></div>

    </div>


    <div class="row">
        <hr>
    <h2>Players</h2>
        {% if customersGame | length > 0 %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Score</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customerGame in customersGame %}
                        <tr>
                            <td>{{ customerGame.customer.nickname }}</td>
                            <td>{{ customerGame.score }}</td>
                            <td>
                                <form action="{{ path('game_remove_user', { 'id' : game.id, 'customer_id' : customerGame.customer.id }) }}" method="POST">
                                    <button class="btn btn-danger btn-fill"><i class="fa fa-minus"></i> {{ 'btn.remove' }}</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>No players in this game</p>
        {% endif %}
    </div>
{% endblock %}
