{% extends '::base.html.twig' %}

{% block title %}{{ 'title.customer.create' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'title.customer.create' | trans }}</h1>
    <div class="panel panel-dark">
    <div class="panel-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-save"></i> {{ 'btn.save' | trans }}</button>
    <a class="btn btn-default btn-fill" href="{{ path('admin_center_list') }}"><i class="fa fa-arrow-left"></i> {{ 'btn.back' | trans }}</a>
    {{ form_end(form) }}
    </div>
    </div>
{% endblock %}