{% extends "::base.html.twig" %}

{% block title %}{{ 'title.search_customer' | trans }} :: {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ 'title.customer.search' | trans }}</h1>
    <div class="panel">
        <div class="panel-body">
            <form action="{{ path('staff_customer_search') }}" method="post">
                {% for field, val in search %}
                    <div class="form-group">
                        <label class="control-label" for="{{ field }}">{{ field | capitalize | trans }}</label>
                        <input type="text" id="{{ field }}" name="{{ field }}" class="form-control" value="{{ val }}">
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-search"></i> {{ 'btn.search' | trans }}</button>
            </form>

        </div>
    </div>
    {% if customers | length > 0 %}
        <div class="panel panel-dark">
            <div class="panel-heading">
                {{ 'title.search.result' | trans }}
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'th.customer' | trans }}</th>
                        <th>{{ 'th.nickname' | trans }}</th>
                        <th>{{ 'th.card_number' | trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.firstname ~ ' ' ~ customer.lastname }}</td>
                            <td>{{ customer.nickname }}</td>
                            <td>{% for card in customer.cards %}{{ card.numero }}{% endfor %}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('staff_customer_show', { 'id' : customer.id }) }}"><i class="fa fa-eye"></i> {{ 'btn.show' | trans  }}</a></li>

                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('staff_customer_edit', { 'id' : customer.id }) }}"><i class="fa fa-edit"></i> {{ 'btn.edit' | trans }}</a></li>

                                    </ul>

                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>{{ 'msg.no_result' | trans | capitalize }}</p>
    {% endif %}
{% endblock %}
