{% extends'::base.html.twig' %}
{% block title %}Account{% endblock %}
{% block body %}
    <div class="col-md-2">
        <div class="fixed-section">
            <ul>
                <li><a href="{{ path('account_show') }}">Show profil</a></li>
                <li><a href="{{ path('account_profile_edit') }}">Edit profil</a></li>
                <li><a href="{{ path('account_edit') }}">Edit account</a></li>
                <li><a href="{{ path('account_card_add') }}">Add card</a></li>
                <li><a href="{{ path('account_offers_show') }}">Show offers</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-1">
        {% block content %}
            content
        {% endblock %}
    </div>
{% endblock %}