{% extends "AppBundle:Account:account.layout.html.twig" %}

{% block title %}{{ parent() }} > {{ 'Edit account' | trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Edit account' | trans }}</h1>
    <legend></legend>
    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'Your account' | trans }}</div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-save"></i> {{ 'btn.save' | trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

