{% extends "AppBundle:Account:account.layout.html.twig" %}

{% block title %}{{ parent() }} > {{ 'Edit profile' | trans }}{% endblock %}

{% block content %}
    <h1>
        <div class="avatar round-avatar">
            {% if customer.avatar is not null %}
            <img src="{{ asset('img/avatar/' ~ customer.avatar.filename) }}" alt="Avatar of {{ customer.firstname }}" title="Avatar of {{ customer.firstname }}">
            {% endif %}
        </div>
        {{ 'Edit profile' | trans }}
    </h1>
    <legend></legend>
    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.nickname) }}
    {{ form_row(form.birthdate) }}
    <hr>
    {{ form_row(form.society) }}
    {{ form_row(form.address) }}
    {{ form_row(form.zipcode) }}
    {{ form_row(form.city) }}
    {% if customer.avatar is not null %}
        <div class="row">
            <div class="col-sm-12">
                <div class="block-avatar">
                    <img src="{{ asset('img/avatar/' ~ customer.avatar.filename) }}" alt="{{ customer.avatar.name }}" title="avatar of {{ customer.firstname }}">
                    <a href="{{ path('customer_avatar_remove', { 'id' : customer.id }) }}" class="btn-remove-avatar" title="Remove avatar">
                        <div class="remove-avatar">
                            <i class="fa fa-remove"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_row(form.avatar) }}
    <button class="btn btn-primary btn-fill"><i class="fa fa-save"></i> {{ 'btn.save' | trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script href="{{ asset('dist/jquery-ui/jquery-ui.js') }}"></script>

    <script>
        $(function() {
            $('.js-datepicker').datepicker({
                altField: "#datepicker",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
{% endblock %}