{% extends "AppBundle:Account:account.layout.html.twig" %}

{% block title %}{{ 'title.account.edit' | trans }} :: {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ 'title.account.edit' | trans }}</h1>
    <legend></legend>
    <div class="panel panel-dark">
        <div class="panel-heading">{{ 'title.account.main' | trans }}</div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-save"></i> {{ 'btn.save' | trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

