{% extends "AppBundle:Account:account.layout.html.twig" %}

{% block title %}{{ parent() }} > {{ 'Edit account' | trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Edit account' | trans }}</h1>
    <legend></legend>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-save"></i> {{ 'btn.save' | trans }}</button>
    {{ form_end(form) }}
{% endblock %}

