{% extends "AppBundle:Account:account.layout.html.twig" %}

{% block title %}{{ 'title.profile.main' | trans }} :: {{ parent() }}{% endblock %}

{% block content %}
    <h1>
        <div class="avatar round-avatar">
            {% if customer.avatar is not null %}
                <img src="{{ asset('img/avatar/' ~ customer.avatar.filename) }}" alt="{{ customer.avatar.name }}" title="avatar of {{ customer.firstname }}">
            {% endif %}
        </div>

        {{ 'title.profile.main' | trans }}
    </h1>
    <legend></legend>
    <div class="jumbotron">
       <p>{{ 'jumbotron.access_personnal_info' | trans }}</p>
    </div>

    <div class="panel panel-dark">
        <div class="panel-body">
            <div class="nav-tabs-navigation" style="text-align: left">
                <div class="nav-tabs-wrapper">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="#infos" data-toggle="tab">{{ 'informations' | trans }}</a></li>
                        <li><a href="#cards" data-toggle="tab">{{ 'fidelity cards' | trans }}</a></li>
                        <li><a href="#offers" data-toggle="tab">{{ 'offers' | trans }}</a></li>
                        <li><a href="#games" data-toggle="tab">{{ 'games' | trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="infos">
                        <div class="row">
                            <div class="col-sm-3">{{ 'Nickname' | trans }}</div>
                            <div class="col-sm-9 text-info">{{ customer.nickname }}</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">{{ 'Firstname' | trans }}</div>
                            <div class="col-sm-9 text-info">{{ customer.firstname }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">{{ 'Lastname' | trans }}</div>
                            <div class="col-sm-9 text-info">{{ customer.lastname }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">{{ 'Address' | trans }}</div>
                            <div class="col-sm-9 text-info">
                                {{ customer.address }}
                                {% if customer.zipcode %}, {{ customer.zipcode }}{% endif %}
                                {{ customer.city }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">{{ 'Birthdate' | trans }}</div>
                            <div class="col-sm-9 text-info">{{ customer.birthdate | date('d/m/Y') }}</div>
                        </div>
                    <hr>
                        <div class="form-group">
                            <a class="btn btn-primary btn-fill" href="{{ path('account_profile_edit') }}"><i class="fa fa-edit"></i> {{ 'btn.profile.edit' | trans }}</a>
                        </div>
                </div>
                <div class="tab-pane" id="cards">

                    <button class="btn btn-success btn-fill" data-toggle="modal" data-target="#addCardModal{{ customer.id }}"><i class="fa fa-plus"></i> {{ 'btn.card.add' | trans }}</button>
                    <hr>

                    <div id="customer_cards"></div>

                    {{ render(controller('AppBundle:Customer:displayModalAddCardToCustomer', {'id' : customer.id })) }}


                </div>
                <div class="tab-pane" id="offers">
                    {% if customerOffers | length > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'th.offer' | trans }}</th>
                                    <th class="hidden-xs">{{ 'th.description' | trans }}</th>
                                    <th class="hidden-xs">{{ 'th.got_at' | trans }}</th>
                                    <th>{{ 'th.used_at' | trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for customerOffer in customerOffers %}
                                <tr>
                                    <td>{{ customerOffer.offer.title }}</td>
                                    <td class="hidden-xs">{{ customerOffer.offer.description }}</td>
                                    <td class="hidden-xs">{{ customerOffer.createdAt is not null ? customerOffer.createdAt | date('d/m/Y') }}</td>
                                    <td>{{ customerOffer.usedAt is not null ? customerOffer.usedAt | date('d/m/Y') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{{ 'msg.no_offer_available' | trans }}</p>
                    {% endif %}

                </div>

                <div class="tab-pane" id="games">
                    {% if customer.customerGames | length > 0 %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'th.game' | trans }}</th>
                                <th>{{ 'th.played_at' | trans }}</th>
                                <th>{{ 'th.score' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customerGame in customer.customerGames %}
                                <tr>
                                    <td>{{ customerGame.game.title }}</td>
                                    <td>{{ customerGame.game.createdAt | date('d/m/Y') }}</td>
                                    <td>{{ customerGame.score }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </tbody>
                        </table>
                    {% else %}
                        <p>{{ 'msg.no_game_played' | trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/jquery-ui/jquery-ui.min.js') }}"></script>
    <script>
        function loadTable()
        {
            $.ajax({
                url: '{{ path('customer_get_cards') }}',
                method:'POST',
                data: 'html',
                success: function(response)
                {
                    $('#customer_cards').html(response);
                }
            });
        }

        $(function()
        {
            //On charge le table
            loadTable();

            //Quand la modal a fini d'etre masquée
            $('#addCardModal{{ customer.id }}, #addCardModal').on('hidden.bs.modal', function () {
                $(this).find('#numero').val('');
                $(this).find('#alert-modal').removeClass('alert-danger').removeClass('alert-success');
            });
            $('#addCardModal{{ customer.id }}, #addCardModal').on('shown.bs.modal', function () {
                $(this).find('#numero').focus();
                $('html, body').animate({scrollTop : 0}, 'slow');
            });

            //Quand le formulaire est posté
            $('#form_add_card').on('submit', function (event)
            {
                event.preventDefault();
                event.stopPropagation();

                $.ajax({
                    url: $(this).attr('action'),
                    method: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function(response) {
                        if(response.status)
                        {
                            //On affiche le message
                            $('#alert-modal').addClass('alert-success').html(response.message);
                            //On recharche le table
                            loadTable();

                        }
                        else {
                            $('#alert-modal').addClass('alert-danger').html(response.message);
                        }
                    },
                    error: function(xhr, status, error)
                    {
                        $('#alert-modal').addClass('alert-danger').html(error);
                    }
                });
            });

            //A chaque fois qu'on tape, on masque et vide le message d'erreur
            $('#addCardModal{{ customer.id }}, #addCardModal').on('keyup', '#numero', function(event){
                $('#alert-modal').removeClass('alert-success').removeClass('alert-danger').html('');
            });
        });
    </script>
{% endblock %}