{% extends '::base.html.twig' %}

{% block title %}{{ 'title.welcome' | trans({ '%app_name%' : app_name}) }} :: {{ parent() }}{% endblock %}

{% block jobotron %}
<div class="jumbotron">
    <div class="container">
        <h1>{{ app_name }}</h1>
        <p></p>
        <p><a class="btn btn-primary btn-fill btn-lg" href="#" role="button">{{ 'btn.see_more' | trans }}</a></p>
    </div>
</div>
{% endblock %}
{% block body %}
<h1>{{ 'title.welcome' | trans({ '%app_name%' : app_name}) }}</h1>
{% endblock %}


