{% extends '::base.html.twig' %}

{% block title %}{{ 'title.welcome' | trans({ '%app_name%' : app_name}) }} :: {{ parent() }}{% endblock %}

{% block jobotron %}
<div class="jumbotron main-jumbotron jumboSlideDown">
    <div class="container">
        <h1>{{ 'title.welcome' | trans({ '%app_name%' : app_name}) }}</h1>
        <p></p>
        <p><a class="btn btn-primary btn-fill btn-lg" href="{{ path('login') }}" role="button"><i class="fa fa-plus-circle"></i> {{ 'btn.see_more' | trans }}</a></p>
    </div>
</div>
{% endblock %}

{% block body %}

    <div class="perso perso-left slideRight" id="perso-left">
        <img src="{{ asset('img/background/perso-left.png') }}" alt=""  />
    </div>
    <div class="perso perso-right slideLeft" id="perso-right">
        <img src="{{ asset('img/background/perso-right.png') }}" alt=""  />
    </div>

    <div id="">

    </div>
{% endblock %}

