<div id="navbar">

    <nav class="navbar navbar-ct-primary" role="navigation">

        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand" href="#">{{ app_name }}</a>

            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">

                    <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'menu.home' | trans }}</a></li>

                    {% if is_granted('ROLE_USER') == false %}
                        <li><a href="{{ path('login') }}"><i class="fa fa-sign-in"></i> {{ 'menu.login' | trans }}</a></li>

                        <li><a href="{{ path('register') }}"><i class="fa fa-unlock"></i> {{ 'menu.register' | trans }}</a></li>
                    {% else %}

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ 'menu.account' | trans}} <b class="caret"></b></a>

                            <ul class="dropdown-menu">

                                {% if is_granted('ROLE_STAFF') == false %}
                                <li><a href="{{ path('account_show') }}"><i class="fa fa-id-card-o"></i> {{ 'menu.profile' | trans }}</a></li>

                                <li class="divider"></li>
                                {% endif %}

                                <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> {{ 'menu.logout' | trans }}</a></li>

                            </ul>

                        </li>
                        {% if is_granted('ROLE_STAFF') %}

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-id-card-o"></i> {{ 'menu.card' | trans}} <b class="caret"></b></a>

                                <ul class="dropdown-menu">

                                    <li><a href="{{ path('purchase_create') }}"><i class="fa fa-plus"></i> {{ 'menu.puchase.create' | trans }}</a></li>
                                    <li><a href="{{ path('purchase_list') }}"><i class="fa fa-list"></i> {{ 'menu.puchase.list' | trans }}</a></li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> {{ 'menu.game' | trans}} <b class="caret"></b></a>

                                <ul class="dropdown-menu">

                                    <li><a href="{{ path('game_create') }}"><i class="fa fa-plus"></i> {{ 'menu.game.create' | trans }}</a></li>
                                    <li><a href="{{ path('game_list') }}"><i class="fa fa-list"></i> {{ 'menu.game.list' | trans }}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('game_search') }}"><i class="fa fa-search"></i> {{ 'menu.game.seach' | trans }}</a></li>

                                </ul>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin') }}"><i class="fa fa-lock"></i> {{ 'menu.admin' | trans }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </ul>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->

    </nav>

</div><!--  end navbar -->