<div id="navbar">

    <nav class="navbar navbar-ct-primary" role="navigation">

        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand logo" href="{{ path('homepage') }}">
                    <img src="{{ asset('img/logo.png') }}" alt="{{ app_name }}">
                </a>

            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">

                    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                        <li><a href="{{ path('login') }}"><i class="fa fa-sign-in"></i> {{ 'menu.login' | trans }}</a></li>

                        <li><a href="{{ path('register') }}"><i class="fa fa-unlock"></i> {{ 'menu.register' | trans }}</a></li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') and is_granted('ROLE_STAFF') == false %}
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ 'menu.account' | trans}} <b class="caret"></b></a>

                            <ul class="dropdown-menu">

                                <li><a href="{{ path('account_show') }}"><i class="fa fa-eye"></i> {{ 'menu.profile.main' | trans }}</a></li>
                                <li><a href="{{ path('account_profile_edit') }}"><i class="fa fa-edit"></i> {{ 'menu.profile_edit' | trans }}</a></li>
                                <li><a href="{{ path('account_edit') }}"><i class="fa fa-unlock"></i> {{ 'menu.account_edit' | trans }}</a></li>

                                {#<li class="divider"></li>#}

                            </ul>

                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_STAFF') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> {{ 'menu.customer.main' | trans}} <b class="caret"></b></a>

                            <ul class="dropdown-menu">

                                <li><a href="{{ path('staff_customer_search') }}"><i class="fa fa-search"></i> {{ 'menu.customer.search' | trans }}</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('staff_customer_create') }}"><i class="fa fa-plus"></i> {{ 'menu.customer.create' | trans }}</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-id-card-o"></i> {{ 'menu.card.main' | trans}} <b class="caret"></b></a>

                            <ul class="dropdown-menu">

                                <li><a href="{{ path('card_list') }}"><i class="fa fa-list"></i> {{ 'menu.card.list' | trans }}</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('purchase_create') }}"><i class="fa fa-plus"></i> {{ 'menu.purchase.create' | trans }}</a></li>
                                <li><a href="{{ path('purchase_list') }}"><i class="fa fa-list"></i> {{ 'menu.purchase.list' | trans }}</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> {{ 'menu.game.main' | trans}} <b class="caret"></b></a>

                            <ul class="dropdown-menu">

                                <li><a href="{{ path('game_create') }}"><i class="fa fa-plus"></i> {{ 'menu.game.create' | trans }}</a></li>
                                <li><a href="{{ path('game_list') }}"><i class="fa fa-list"></i> {{ 'menu.game.list' | trans }}</a></li>
                                {#<li class="divider"></li>#}
                                {#<li><a href="{{ path('game_search') }}"><i class="fa fa-search"></i> {{ 'menu.game.search' | trans }}</a></li>#}

                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin') }}"><i class="fa fa-lock"></i> {{ 'menu.admin' | trans }}</a></li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> {{ 'menu.logout' | trans }}</a></li>
                    {% endif %}

                </ul>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->

    </nav>

</div><!--  end navbar -->