{% extends "AppBundle:Admin:layout.html.twig" %}

{% block title %}{% if center is defined %}{{ 'title.center.edit' | trans({'%username%' : center.name}) }}{% else %}{{ 'title.center.new' | trans }}{% endif %} :: {{ parent() }}{% endblock %}

{% block content %}
<h1>{% if center is defined %}{{ 'title.center.edit' | trans({'%username%' : center.name}) }}{% else %}{{ 'title.center.new' | trans }}{% endif %}</h1>
    <div class="panel">
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary btn-fill" type="submit"><i class="fa fa-save"></i> {{ 'btn.save' | trans }}</button>
            {% if center is defined %}
                <a class="btn btn-success btn-fill" href="{{ path('admin_center_create') }}"><i class="fa fa-plus"></i> {{ 'btn.new' | trans }}</a>
            {% endif %}
            <a class="btn btn-default" href="{{ path('admin_center_list') }}"><i class="fa fa-arrow-left"></i> {{ 'btn.back' | trans }}</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
