{% extends "AppBundle:Admin:layout.html.twig" %}

{% block title %}Center edit{% endblock %}

{% block content %}
<h1>{% if center is defined %}Edit center {{ center.name }}{% else %}New Center{% endif %}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-fill" type="submit" formnovalidate>{{ 'btn.save' | trans }}</button>
    <button class="btn btn-default btn-action" data-href="{{ path('admin_center_list') }}">{{ 'btn.return' | trans }}</button>
    {{ form_end(form) }}
{% endblock %}
